<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webapp Golang HTMX</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org/dist/htmx.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" style="color:white;" href="#">Kadai</a>
              <div class="collapse navbar-collapse" id="navbarColor01">
                <form class="d-flex">
                  <button class="btn btn-secondary my-2 my-sm-0" type="button">Login</button>
                </form>
              </div>
            </div>
          </nav>    
        </body>
    </html>
</html>